.cheath-top {
  width: 100%;
}
.cheath-top__wrapper {
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
}
.cheath-top__desc {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title {
  font-weight: 800;
  font-size: 60px;
}
.subtitle {
  max-width: 90%;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}
.cheath-top__image {
  flex-basis: 50%;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
}
.cheath-top__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---cheaths---*/
.cheaths {
  width: 100%;
  background: #0057da;
}
.cheaths__wrapper {
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 42px;
  row-gap: 59px;
}
.cheaths__item {
  width: 428px;
  height: 203px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}
.cheaths__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 14, 49, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.cheaths__item:hover.cheaths__item::before {
  background: linear-gradient(
    180deg,
    rgba(0, 14, 49, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.cheaths__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.cheaths__price {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-radius: 0 0 14px 14px;
  background: #000;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: #fff;
}
.name {
  font-size: 18px;
  font-weight: 700;
}
.price {
  font-size: 16px;
  font-weight: 700;
}
.detect {
  display: none;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 37px;
  border-radius: 10px 0 10px 0;
  /* background: #00ff38; */
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 16.94px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.detect.active {
  display: flex;
}
