@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.header {
  width: 100%;
  height: 90px;
  background: #0f1422;
}
.header__wrapper {
  width: 100%;
  padding: 0 47px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: 330px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 155px;
}
.header__logo img {
  width: 92px;
  height: 90px;
  object-fit: cover;
}
.header__logo span {
  font-family: "Anek Tamil", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 45px;
  background-image: linear-gradient(
    187.74deg,
    #0090ff -50.72%,
    #ffffff 208.88%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header__menu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.header__menu ul li a.active {
  color: #0f76d4;
}
.header__menu ul li img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.header__items {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 50px;
}
.header__items span {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #00ff38;
}
.header__language {
  width: 111px;
  height: 41px;
  border-radius: 18px;
  background: #d9d9d933;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #d1d3dc;
  cursor: pointer;
}
.header__language img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 27px;
}
.header__social li a {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
