@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");
* {
  margin: 0;
  padding: 0;
}
html,
body {
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-family: "Proxima Nova Extra Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.header {
  position: fixed;
  max-width: 1920px;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, rgba(13, 16, 19, 0) 0%, #0075ff 244.5%);
  backdrop-filter: blur(30px);
  border-bottom: 2px solid #0075ff;
}
.header__wrapper {
  display: flex;
  align-items: center;
  margin-right: 35px;
  float: right;
}
.header__logo {
  width: 200px;
  height: 100%;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__nav li,
.header__nav li a {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20.71px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.header__nav li:hover {
  background: linear-gradient(
    180deg,
    rgba(0, 117, 255, 0) 0%,
    rgba(0, 117, 255, 0.3) 100%
  );
}
.header__nav li img {
  width: 30px;
  height: 30px;
}
.header__social {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__social a {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.header__social a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
/*---promo---*/
.promo {
  width: 100%;
  background: linear-gradient(180deg, #0d1013 0%, #0075ff 100%);
}
.promo__wrapper {
  display: flex;
  background: url(../images/background-promo.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100dvh;
}
.promo__inner {
  display: flex;
  gap: 32px;
  margin: 430px auto 287px 118px;
}
.promo__inner img {
  width: 150px;
  height: 150px;
  margin-top: 22px;
}
.promo__text {
  display: flex;
  flex-direction: column;
}
.promo__text h1 {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 88px;
  color: #fff;
  text-transform: uppercase;
}
.promo__text h1 .promo__span {
  color: #0075ff;
}
.promo__text h1 .promo__italic {
  font-style: italic;
}
.promo__text p {
  max-width: 708px;
  width: 100%;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.23px;
  color: #fff;
  margin-top: 10px;
}
